*{
  margin: 0;
  padding: 0;
}

body{

}

h1{
  text-align: center;
  color: black;
}

h3{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-align: center;
  color: black;
}

#navbar button{
  text-align: center;
}

.svg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg svg{
  background-color: black;
  padding: 0;
  width: 100%;
}


.svg svg{
  preserveAspectRatio: none;
  height: auto;
  width: 100%;
  display: block;
  margin: auto;
}
